NODE_ENV=development
PORT=8080
CLIENT_URL=http://localhost:3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=flutter_shop_db

JWT_SECRET=
JWT_EXPIRES_IN=7d

UPLOAD_DIRECTORY=uploads/products
MAX_IMAGE_SIZE_MB=5